<!DOCTYPE html>
<html>
<head>
    <title>Welcome - KrishiMitra</title>
</head>
<body style="text-align: center; font-family: Arial, sans-serif; margin-top: 50px;">
    <nav style="background-color: #4CAF50; padding: 10px; text-align: center;">
       <a href="/form" style="color: white; margin-right: 20px; text-decoration: none;">🌾 Crop Prediction Form</a>
      <a href="/history" style="color: white; text-decoration: none;">📜 Prediction History</a>
    </nav>

    <h1>🌱 Welcome to KrishiMitra</h1>
    <p>Your companion for smart crop decisions.</p>
    <a href="/form">
        <button style="padding: 10px 20px; font-size: 16px;">Try Crop Prediction</button>
    </a>
</body>
</html>
